<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdu.cash.restmapper.CashRestMapper">
   <select id="selectTotalInOfMonthByYear" parameterType="int" resultType="java.util.Map">
      SELECT
         SUM(CASE WHEN MONTH(cashbook_date)=1 THEN cashbook_price END) january,
         SUM(CASE WHEN MONTH(cashbook_date)=2 THEN cashbook_price END) february,
         SUM(CASE WHEN MONTH(cashbook_date)=3 THEN cashbook_price END) march,
         SUM(CASE WHEN MONTH(cashbook_date)=4 THEN cashbook_price END) april,
         SUM(CASE WHEN MONTH(cashbook_date)=5 THEN cashbook_price END) may,
         SUM(CASE WHEN MONTH(cashbook_date)=6 THEN cashbook_price END) june,
         SUM(CASE WHEN MONTH(cashbook_date)=7 THEN cashbook_price END) july,
         SUM(CASE WHEN MONTH(cashbook_date)=8 THEN cashbook_price END) august,
         SUM(CASE WHEN MONTH(cashbook_date)=9 THEN cashbook_price END) september,
         SUM(CASE WHEN MONTH(cashbook_date)=10 THEN cashbook_price END) october,
         SUM(CASE WHEN MONTH(cashbook_date)=11 THEN cashbook_price END) november,
         SUM(CASE WHEN MONTH(cashbook_date)=12 THEN cashbook_price END) december
      FROM cashbook
      WHERE YEAR(cashbook_date) = #{year}
      AND cashbook.cashbook_kind = '수입';
   </select>

   <select id="selectTotalOutOfMonthByYear" parameterType="int" resultType="java.util.Map">
      SELECT
         SUM(CASE WHEN MONTH(cashbook_date)=1 THEN cashbook_price END) january,
         SUM(CASE WHEN MONTH(cashbook_date)=2 THEN cashbook_price END) february,
         SUM(CASE WHEN MONTH(cashbook_date)=3 THEN cashbook_price END) march,
         SUM(CASE WHEN MONTH(cashbook_date)=4 THEN cashbook_price END) april,
         SUM(CASE WHEN MONTH(cashbook_date)=5 THEN cashbook_price END) may,
         SUM(CASE WHEN MONTH(cashbook_date)=6 THEN cashbook_price END) june,
         SUM(CASE WHEN MONTH(cashbook_date)=7 THEN cashbook_price END) july,
         SUM(CASE WHEN MONTH(cashbook_date)=8 THEN cashbook_price END) august,
         SUM(CASE WHEN MONTH(cashbook_date)=9 THEN cashbook_price END) september,
         SUM(CASE WHEN MONTH(cashbook_date)=10 THEN cashbook_price END) october,
         SUM(CASE WHEN MONTH(cashbook_date)=11 THEN cashbook_price END) november,
         SUM(CASE WHEN MONTH(cashbook_date)=12 THEN cashbook_price END) december
      FROM cashbook
      WHERE YEAR(cashbook_date) = #{year}
      AND cashbook.cashbook_kind = '지출';
   </select>
   
   <select id="selectCategoryInByMonth" parameterType="java.util.Map" resultType="java.util.Map">
      SELECT 
         SUM(CASE WHEN category_name='급여' THEN cashbook_price END) '급여',
         SUM(CASE WHEN category_name='용돈' THEN cashbook_price END) '용돈'
      FROM cashbook
      WHERE cashbook_kind = '수입'
      AND YEAR(cashbook_date) = #{year}
      AND MONTH(cashbook_date) = #{month}
   </select>
   
   <select id="selectCategoryOutByMonth" parameterType="java.util.Map" resultType="java.util.Map">
      SELECT
      	 SUM(CASE WHEN category_name='관광' THEN cashbook_price END) '관광',
         SUM(CASE WHEN category_name='생활' THEN cashbook_price END) '생활',
         SUM(CASE WHEN category_name='식비' THEN cashbook_price END) '식비',
         SUM(CASE WHEN category_name='의료' THEN cashbook_price END) '의료'
      FROM cashbook
      WHERE cashbook_kind = '지출'
      AND YEAR(cashbook_date) = #{year}
      AND MONTH(cashbook_date) = #{month}
   </select>
   
   <select id="selectTotalOutAndInByMonth" parameterType="int" resultType="java.util.Map">
      SELECT
         SUM(CASE WHEN MONTH(cashbook_date)=1 AND cashbook_kind = '수입' THEN cashbook_price END) in_january,
         SUM(CASE WHEN MONTH(cashbook_date)=2 AND cashbook_kind = '수입' THEN cashbook_price END) in_february,
         SUM(CASE WHEN MONTH(cashbook_date)=3 AND cashbook_kind = '수입' THEN cashbook_price END) in_march,
         SUM(CASE WHEN MONTH(cashbook_date)=4 AND cashbook_kind = '수입' THEN cashbook_price END) in_april,
         SUM(CASE WHEN MONTH(cashbook_date)=5 AND cashbook_kind = '수입' THEN cashbook_price END) in_may,
         SUM(CASE WHEN MONTH(cashbook_date)=6 AND cashbook_kind = '수입' THEN cashbook_price END) in_june,
         SUM(CASE WHEN MONTH(cashbook_date)=7 AND cashbook_kind = '수입' THEN cashbook_price END) in_july,
         SUM(CASE WHEN MONTH(cashbook_date)=8 AND cashbook_kind = '수입' THEN cashbook_price END) in_august,
         SUM(CASE WHEN MONTH(cashbook_date)=9 AND cashbook_kind = '수입' THEN cashbook_price END) in_september,
         SUM(CASE WHEN MONTH(cashbook_date)=10 AND cashbook_kind = '수입' THEN cashbook_price END) in_october,
         SUM(CASE WHEN MONTH(cashbook_date)=11 AND cashbook_kind = '수입' THEN cashbook_price END) in_november,
         SUM(CASE WHEN MONTH(cashbook_date)=12 AND cashbook_kind = '수입' THEN cashbook_price END) in_december,
         SUM(CASE WHEN MONTH(cashbook_date)=1 AND cashbook_kind = '지출' THEN cashbook_price END) out_january,
         SUM(CASE WHEN MONTH(cashbook_date)=2 AND cashbook_kind = '지출' THEN cashbook_price END) out_february,
         SUM(CASE WHEN MONTH(cashbook_date)=3 AND cashbook_kind = '지출' THEN cashbook_price END) out_march,
         SUM(CASE WHEN MONTH(cashbook_date)=4 AND cashbook_kind = '지출' THEN cashbook_price END) out_april,
         SUM(CASE WHEN MONTH(cashbook_date)=5 AND cashbook_kind = '지출' THEN cashbook_price END) out_may,
         SUM(CASE WHEN MONTH(cashbook_date)=6 AND cashbook_kind = '지출' THEN cashbook_price END) out_june,
         SUM(CASE WHEN MONTH(cashbook_date)=7 AND cashbook_kind = '지출' THEN cashbook_price END) out_july,
         SUM(CASE WHEN MONTH(cashbook_date)=8 AND cashbook_kind = '지출' THEN cashbook_price END) out_august,
         SUM(CASE WHEN MONTH(cashbook_date)=9 AND cashbook_kind = '지출' THEN cashbook_price END) out_september,
         SUM(CASE WHEN MONTH(cashbook_date)=10 AND cashbook_kind = '지출' THEN cashbook_price END) out_october,
         SUM(CASE WHEN MONTH(cashbook_date)=11 AND cashbook_kind = '지출' THEN cashbook_price END) out_november,
         SUM(CASE WHEN MONTH(cashbook_date)=12 AND cashbook_kind = '지출' THEN cashbook_price END) out_december,
         SUM(CASE WHEN MONTH(cashbook_date)=1 AND cashbook_kind = '수입' THEN cashbook_price END)
         - SUM(CASE WHEN MONTH(cashbook_date)=1 AND cashbook_kind = '지출' THEN cashbook_price END) sum_january,
         SUM(CASE WHEN MONTH(cashbook_date)=2 AND cashbook_kind = '수입' THEN cashbook_price END)
         - SUM(CASE WHEN MONTH(cashbook_date)=2 AND cashbook_kind = '지출' THEN cashbook_price END) sum_february,
         SUM(CASE WHEN MONTH(cashbook_date)=3 AND cashbook_kind = '수입' THEN cashbook_price END)
         - SUM(CASE WHEN MONTH(cashbook_date)=3 AND cashbook_kind = '지출' THEN cashbook_price END) sum_march,
         SUM(CASE WHEN MONTH(cashbook_date)=4 AND cashbook_kind = '수입' THEN cashbook_price END)
         - SUM(CASE WHEN MONTH(cashbook_date)=4 AND cashbook_kind = '지출' THEN cashbook_price END) sum_april,
         SUM(CASE WHEN MONTH(cashbook_date)=5 AND cashbook_kind = '수입' THEN cashbook_price END)
         - SUM(CASE WHEN MONTH(cashbook_date)=5 AND cashbook_kind = '지출' THEN cashbook_price END) sum_may,
         SUM(CASE WHEN MONTH(cashbook_date)=6 AND cashbook_kind = '수입' THEN cashbook_price END)
         - SUM(CASE WHEN MONTH(cashbook_date)=6 AND cashbook_kind = '지출' THEN cashbook_price END) sum_june,
         SUM(CASE WHEN MONTH(cashbook_date)=7 AND cashbook_kind = '수입' THEN cashbook_price END)
         - SUM(CASE WHEN MONTH(cashbook_date)=7 AND cashbook_kind = '지출' THEN cashbook_price END) sum_july,
         SUM(CASE WHEN MONTH(cashbook_date)=8 AND cashbook_kind = '수입' THEN cashbook_price END)
         - SUM(CASE WHEN MONTH(cashbook_date)=8 AND cashbook_kind = '지출' THEN cashbook_price END) sum_august,
         SUM(CASE WHEN MONTH(cashbook_date)=9 AND cashbook_kind = '수입' THEN cashbook_price END)
         - SUM(CASE WHEN MONTH(cashbook_date)=9 AND cashbook_kind = '지출' THEN cashbook_price END) sum_september,
         SUM(CASE WHEN MONTH(cashbook_date)=10 AND cashbook_kind = '수입' THEN cashbook_price END)
         - SUM(CASE WHEN MONTH(cashbook_date)=10 AND cashbook_kind = '지출' THEN cashbook_price END) sum_october,
         SUM(CASE WHEN MONTH(cashbook_date)=11 AND cashbook_kind = '수입' THEN cashbook_price END)
         - SUM(CASE WHEN MONTH(cashbook_date)=11 AND cashbook_kind = '지출' THEN cashbook_price END) sum_november,
         SUM(CASE WHEN MONTH(cashbook_date)=12 AND cashbook_kind = '수입' THEN cashbook_price END)
         - SUM(CASE WHEN MONTH(cashbook_date)=12 AND cashbook_kind = '지출' THEN cashbook_price END) sum_december
      FROM cashbook
      WHERE YEAR(cashbook_date) = #{year}
   </select>
   
   <select id="selectTotalOutAndInByYear" parameterType="int" resultType="java.util.Map">
      SELECT YEAR(cashbook_date) '년',
      sum(case when cashbook_kind='수입' then cashbook_price END) '수입',
      sum(case when cashbook_kind='지출' then cashbook_price END) '지출'
      FROM cashbook
      WHERE YEAR(cashbook_date) = #{year}
      GROUP BY Year(cashbook_date);
   </select>
   
   <select id="selectTotalMoneyByMonth" parameterType="int" resultType="java.util.Map">
      SELECT
      SUM(CASE WHEN MONTH(cashbook_date)=1 AND cashbook_kind = "수입" THEN cashbook_price END)
		- SUM(CASE WHEN MONTH(cashbook_date)=1 AND cashbook_kind = "지출" THEN cashbook_price END) january,
		SUM(CASE WHEN MONTH(cashbook_date)=2 AND cashbook_kind = "수입" THEN cashbook_price END)
		- SUM(CASE WHEN MONTH(cashbook_date)=2 AND cashbook_kind = "지출" THEN cashbook_price END) february,
      SUM(CASE WHEN MONTH(cashbook_date)=3 AND cashbook_kind = "수입" THEN cashbook_price END)
		- SUM(CASE WHEN MONTH(cashbook_date)=3 AND cashbook_kind = "지출" THEN cashbook_price END) march,
      SUM(CASE WHEN MONTH(cashbook_date)=4 AND cashbook_kind = "수입" THEN cashbook_price END)
		- SUM(CASE WHEN MONTH(cashbook_date)=4 AND cashbook_kind = "지출" THEN cashbook_price END) april,
      SUM(CASE WHEN MONTH(cashbook_date)=5 AND cashbook_kind = "수입" THEN cashbook_price END)
		- SUM(CASE WHEN MONTH(cashbook_date)=5 AND cashbook_kind = "지출" THEN cashbook_price END) may,
      SUM(CASE WHEN MONTH(cashbook_date)=6 AND cashbook_kind = "수입" THEN cashbook_price END)
		- SUM(CASE WHEN MONTH(cashbook_date)=6 AND cashbook_kind = "지출" THEN cashbook_price END) june,
      SUM(CASE WHEN MONTH(cashbook_date)=7 AND cashbook_kind = "수입" THEN cashbook_price END)
		- SUM(CASE WHEN MONTH(cashbook_date)=7 AND cashbook_kind = "지출" THEN cashbook_price END) july,
      SUM(CASE WHEN MONTH(cashbook_date)=8 AND cashbook_kind = "수입" THEN cashbook_price END)
		- SUM(CASE WHEN MONTH(cashbook_date)=8 AND cashbook_kind = "지출" THEN cashbook_price END) august,
      SUM(CASE WHEN MONTH(cashbook_date)=9 AND cashbook_kind = "수입" THEN cashbook_price END)
		- SUM(CASE WHEN MONTH(cashbook_date)=9 AND cashbook_kind = "지출" THEN cashbook_price END) september,
      SUM(CASE WHEN MONTH(cashbook_date)=10 AND cashbook_kind = "수입" THEN cashbook_price END)
		- SUM(CASE WHEN MONTH(cashbook_date)=10 AND cashbook_kind = "지출" THEN cashbook_price END) october,
      SUM(CASE WHEN MONTH(cashbook_date)=11 AND cashbook_kind = "수입" THEN cashbook_price END)
		- SUM(CASE WHEN MONTH(cashbook_date)=11 AND cashbook_kind = "지출" THEN cashbook_price END) november,
      SUM(CASE WHEN MONTH(cashbook_date)=12 AND cashbook_kind = "수입" THEN cashbook_price END) 
      - SUM(CASE WHEN MONTH(cashbook_date)=12 AND cashbook_kind = "지출" THEN cashbook_price END) december
      FROM cashbook
      WHERE YEAR(cashbook_date) = #{year}
   </select>
   
   <!-- 부등호 넣을 때 주의 -->
   <!-- https://sbs20011.tistory.com/entry/XML-%ED%8C%8C%EC%9D%BC%EC%97%90-%EB%B6%80%EB%93%B1%ED%98%B8-%ED%8F%AC%ED%95%A8-%EC%BF%BC%EB%A6%AC-%EB%84%A3%EC%9D%84-%EB%95%8C-%EC%A3%BC%EC%9D%98%EC%A0%90 -->
   <select id="selectTotalStackMoneyByYear" parameterType="int" resultType="java.util.Map">
      SELECT
         SUM(CASE WHEN <![CDATA[ MONTH(cashbook_date)<=1 ]]> AND cashbook_kind = '수입' THEN cashbook_price END)
         - SUM(CASE WHEN <![CDATA[ MONTH(cashbook_date)<=1 ]]> AND cashbook_kind = '지출' THEN cashbook_price END) january,
         SUM(CASE WHEN <![CDATA[ MONTH(cashbook_date)<=2 ]]> AND cashbook_kind = '수입' THEN cashbook_price END)
         - SUM(CASE WHEN <![CDATA[ MONTH(cashbook_date)<=2 ]]> AND cashbook_kind = '지출' THEN cashbook_price END) february,
         SUM(CASE WHEN <![CDATA[ MONTH(cashbook_date)<=3 ]]> AND cashbook_kind = '수입' THEN cashbook_price END)
         - SUM(CASE WHEN <![CDATA[ MONTH(cashbook_date)<=3 ]]> AND cashbook_kind = '지출' THEN cashbook_price END) march,
         SUM(CASE WHEN <![CDATA[ MONTH(cashbook_date)<=4 ]]> AND cashbook_kind = '수입' THEN cashbook_price END)
         - SUM(CASE WHEN <![CDATA[ MONTH(cashbook_date)<=4 ]]> AND cashbook_kind = '지출' THEN cashbook_price END) april,
         SUM(CASE WHEN <![CDATA[ MONTH(cashbook_date)<=5 ]]> AND cashbook_kind = '수입' THEN cashbook_price END)
         - SUM(CASE WHEN <![CDATA[ MONTH(cashbook_date)<=5 ]]> AND cashbook_kind = '지출' THEN cashbook_price END) may,
         SUM(CASE WHEN <![CDATA[ MONTH(cashbook_date)<=6 ]]> AND cashbook_kind = '수입' THEN cashbook_price END)
         - SUM(CASE WHEN <![CDATA[ MONTH(cashbook_date)<=6 ]]> AND cashbook_kind = '지출' THEN cashbook_price END) june,
         SUM(CASE WHEN <![CDATA[ MONTH(cashbook_date)<=7 ]]>  AND cashbook_kind = '수입' THEN cashbook_price END)
         - SUM(CASE WHEN <![CDATA[ MONTH(cashbook_date)<=7 ]]> AND cashbook_kind = '지출' THEN cashbook_price END) july,
         SUM(CASE WHEN <![CDATA[ MONTH(cashbook_date)<=8 ]]> AND cashbook_kind = '수입' THEN cashbook_price END)
         - SUM(CASE WHEN <![CDATA[ MONTH(cashbook_date)<=8 ]]> AND cashbook_kind = '지출' THEN cashbook_price END) august,
         SUM(CASE WHEN <![CDATA[ MONTH(cashbook_date)<=9 ]]> AND cashbook_kind = '수입' THEN cashbook_price END)
         - SUM(CASE WHEN <![CDATA[ MONTH(cashbook_date)<=9 ]]> AND cashbook_kind = '지출' THEN cashbook_price END) september,
         SUM(CASE WHEN <![CDATA[ MONTH(cashbook_date)<=10 ]]> AND cashbook_kind = '수입' THEN cashbook_price END)
         - SUM(CASE WHEN <![CDATA[ MONTH(cashbook_date)<=10 ]]> AND cashbook_kind = '지출' THEN cashbook_price END) october,
         SUM(CASE WHEN <![CDATA[ MONTH(cashbook_date)<=11 ]]> AND cashbook_kind = '수입' THEN cashbook_price END)
         - SUM(CASE WHEN <![CDATA[ MONTH(cashbook_date)<=11 ]]> AND cashbook_kind = '지출' THEN cashbook_price END) november,
         SUM(CASE WHEN <![CDATA[ MONTH(cashbook_date)<=12 ]]> AND cashbook_kind = '수입' THEN cashbook_price END)
         - SUM(CASE WHEN <![CDATA[ MONTH(cashbook_date)<=12 ]]> AND cashbook_kind = '지출' THEN cashbook_price END) december
      FROM cashbook
      WHERE YEAR(cashbook_date) = #{year}
   </select>
   
   <select id="selectCategoryInByYear" parameterType="int" resultType="java.util.Map">
      SELECT 
         SUM(CASE WHEN category_name='급여' THEN cashbook_price END) '급여',
         SUM(CASE WHEN category_name='용돈' THEN cashbook_price END) '용돈'
      FROM cashbook
      WHERE cashbook_kind = '수입'
      AND YEAR(cashbook_date) = #{year}
   </select>
   
   <select id="selectCategoryOutByYear" parameterType="int" resultType="java.util.Map">
      SELECT
      	 SUM(CASE WHEN category_name='관광' THEN cashbook_price END) '관광',
         SUM(CASE WHEN category_name='생활' THEN cashbook_price END) '생활',
         SUM(CASE WHEN category_name='식비' THEN cashbook_price END) '식비',
         SUM(CASE WHEN category_name='의료' THEN cashbook_price END) '의료'
      FROM cashbook
      WHERE cashbook_kind = '지출'
      AND YEAR(cashbook_date) = #{year}
   </select>
   
   <select id="selectAverageInOfMonthByYear" parameterType="int" resultType="java.util.Map">
      SELECT
         AVG(CASE WHEN MONTH(cashbook_date)=1 THEN cashbook_price END) january,
         AVG(CASE WHEN MONTH(cashbook_date)=2 THEN cashbook_price END) february,
         AVG(CASE WHEN MONTH(cashbook_date)=3 THEN cashbook_price END) march,
         AVG(CASE WHEN MONTH(cashbook_date)=4 THEN cashbook_price END) april,
         AVG(CASE WHEN MONTH(cashbook_date)=5 THEN cashbook_price END) may,
         AVG(CASE WHEN MONTH(cashbook_date)=6 THEN cashbook_price END) june,
         AVG(CASE WHEN MONTH(cashbook_date)=7 THEN cashbook_price END) july,
         AVG(CASE WHEN MONTH(cashbook_date)=8 THEN cashbook_price END) august,
         AVG(CASE WHEN MONTH(cashbook_date)=9 THEN cashbook_price END) september,
         AVG(CASE WHEN MONTH(cashbook_date)=10 THEN cashbook_price END) october,
         AVG(CASE WHEN MONTH(cashbook_date)=11 THEN cashbook_price END) november,
         AVG(CASE WHEN MONTH(cashbook_date)=12 THEN cashbook_price END) december
      FROM cashbook
      WHERE YEAR(cashbook_date) = #{year}
      AND cashbook.cashbook_kind = '수입';
   </select>
   
   <select id="selectAverageOutOfMonthByYear" parameterType="int" resultType="java.util.Map">
      SELECT
         AVG(CASE WHEN MONTH(cashbook_date)=1 THEN cashbook_price END) january,
         AVG(CASE WHEN MONTH(cashbook_date)=2 THEN cashbook_price END) february,
         AVG(CASE WHEN MONTH(cashbook_date)=3 THEN cashbook_price END) march,
         AVG(CASE WHEN MONTH(cashbook_date)=4 THEN cashbook_price END) april,
         AVG(CASE WHEN MONTH(cashbook_date)=5 THEN cashbook_price END) may,
         AVG(CASE WHEN MONTH(cashbook_date)=6 THEN cashbook_price END) june,
         AVG(CASE WHEN MONTH(cashbook_date)=7 THEN cashbook_price END) july,
         AVG(CASE WHEN MONTH(cashbook_date)=8 THEN cashbook_price END) august,
         AVG(CASE WHEN MONTH(cashbook_date)=9 THEN cashbook_price END) september,
         AVG(CASE WHEN MONTH(cashbook_date)=10 THEN cashbook_price END) october,
         AVG(CASE WHEN MONTH(cashbook_date)=11 THEN cashbook_price END) november,
         AVG(CASE WHEN MONTH(cashbook_date)=12 THEN cashbook_price END) december
      FROM cashbook
      WHERE YEAR(cashbook_date) = #{year}
      AND cashbook.cashbook_kind = '지출';
   </select>
   
   <select id="selectCategoryInByDateTerm" parameterType="java.util.Map" resultType="java.util.Map">
      SELECT
         SUM(CASE WHEN category_name='급여' THEN cashbook_price END) '급여',
         SUM(CASE WHEN category_name='용돈' THEN cashbook_price END) '용돈'
      FROM cashbook
      WHERE <![CDATA[ DATE(cashbook_date) >= STR_TO_DATE(#{startDate}, '%Y-%m-%d') ]]>
      AND <![CDATA[ DATE(cashbook_date) <= STR_TO_DATE(#{endDate}, '%Y-%m-%d') ]]>
      AND cashbook.cashbook_kind = '수입';
   </select>
   
   <select id="selectCategoryOutByDateTerm" parameterType="java.util.Map" resultType="java.util.Map">
      SELECT
      	 SUM(CASE WHEN category_name='관광' THEN cashbook_price END) '관광',
         SUM(CASE WHEN category_name='생활' THEN cashbook_price END) '생활',
         SUM(CASE WHEN category_name='식비' THEN cashbook_price END) '식비',
         SUM(CASE WHEN category_name='의료' THEN cashbook_price END) '의료'
      FROM cashbook
      WHERE <![CDATA[ DATE(cashbook_date) >= STR_TO_DATE(#{startDate}, '%Y-%m-%d') ]]>
      AND <![CDATA[ DATE(cashbook_date) <= STR_TO_DATE(#{endDate}, '%Y-%m-%d') ]]>
      AND cashbook.cashbook_kind = '지출';
   </select>
</mapper>