<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdu.cash.mapper.NoticeMapper">
  <select id="selectLatestNoticeList" resultType="kr.co.gdu.cash.vo.Notice">
    select
    	notice_id as noticeId,
    	notice_title as noticeTitle,
    	notice_date as noticeDate
    from notice
    order by notice_date desc
    limit 0, 5
  </select>
  
  <select id="selectNoticeListByPage" parameterType="java.util.Map" resultType="kr.co.gdu.cash.vo.Notice">
  	select
    	notice_id as noticeId,
    	notice_title as noticeTitle,
    	notice_date as noticeDate
    from notice
    order by notice_date desc
    limit #{beginRow}, #{rowPerPage}
  </select>
  
  <select id="countNotice" resultType="Integer">
  	SELECT COUNT(*) FROM notice
  </select>
  
  <select id="selectNoticeOne" parameterType="Integer" resultType="kr.co.gdu.cash.vo.Notice">
  	SELECT notice_id AS noticeId, 
	notice_title noticeTitle, 
	notice_content noticeContent, 
	notice_date noticeDate
	FROM notice
	WHERE notice_id = #{noticeId}
  </select>
  
  <insert id="insertNotice" parameterType="kr.co.gdu.cash.vo.Notice">
	insert into notice (
		notice_title, 
		notice_content, 
		notice_date
	) values (
		#{noticeTitle}, 
		#{noticeContent}, 
		now()
	)
  </insert>
  
  <update id="updateNotice" parameterType="kr.co.gdu.cash.vo.Notice">
  	update notice set
	notice_title = #{noticeTitle}, 
	notice_content = #{noticeContent}, 
	notice_date = now()
	where notice_id = #{noticeId}
  </update>
  
  <delete id="deleteNotice" parameterType="Integer">
  	delete from notice
  	where notice_id = #{noticeId}
  </delete>
</mapper>